* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-text: #1d3557;
  --secondary-text: #a8dadc;
  --title-text: blue;
  --default-text: black;
  --bg-color: lightgray;
  --second-bg-color: #457b9d;
  --footer-bg: #1d3557;
  --instagram-icon: #E1306C;
  --github-icon: gray;
  --telegram-icon: #0088cc;
  --open-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: serif;
  font-size: 20px;
}

header, section, footer {
  padding: 80px;
}
.indented {
  text-indent: 50px;
}

/* responsive design to accomodate mobile */
@media screen and (max-width: 1000px) {
  header, section, footer {
    padding: 50px;
  }
}
@media screen and (max-width: 860px) {
  header, section, footer {
    padding: 30px;
  }
  .profilepic, .formalpic {
    width: 80vw;
    height: fit-content;
  }
}

nav {
  font-family: var(--open-sans);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
  background-color: var(--bg-color);
}

.logo-title {
  height: 80px;
}
.logobanner {
  height: 80px;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navmenu li {
  list-style: none;
}
.navmenu li a {
  text-decoration: none;
  color: var(--default-text);
  padding: 16px;
  display: block;
  font-weight: bold;
}
.navmenu li:hover, .menubtn:hover {
  background-color: var(--second-bg-color);
  transition: .8s;
}
.menubtn {
  position: absolute;
  top: 12px;
  right: 20px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

/* responsive design for navigation bar */
@media screen and (max-width: 930px) {
  .menubtn {
    display: flex;
  }
  .navmenu {
    display: none;
    width: 100%;
    transition: 3s ease-out;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    transition: height 4s ease-in-out;
  }
  .navmenu ul {
    width: 100%;
    flex-direction: column;
  }
  .navmenu li {
    text-align: center;
  }
  .navmenu li a {
    padding: 8px 16px;
  }
  .navmenu.active {
    display: flex;
  }
  .navmenu.inactive {
    display: none;
  }
}

#navtitles {
  font-family: var(--open-sans);
  color: var(--main-text);
  font-size: 30px;
  text-align: left;
  width: 100%;
  padding: 20px;
}

#sectiontitle {
  font-family: var(--open-sans);
}

header {
  color: var(--default-text);
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to left, var(--second-bg-color) , white);
}
header h1 {
  font-size: 80px;
  text-align: left;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.headtitle {
  color: var(--title-text);
}
.maintitle {
  text-align: center;
  font-size: 50px;
  margin: 20px;
}
header h2 {
  color: var(--title-text);
  font-size: 150%;
}
.profilepic {
  width: 300px;
  height: 300px;
  border-radius: 30%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  transition: 0.8s;
}
.profilepic:hover {
  transform: scale(1.2);
}
.profiletext {
  flex: 60%;
  text-align: justify;
  font-size: 120%;
}
.profilediv {
  flex: 40%;
  margin: auto;
  display: block;
  text-align: center;
}

.intro {
  background-image: linear-gradient(to right, var(--bg-color) 1% , white);
  display: flex;
  flex-wrap: wrap;
}
.intropic {
  flex: 40%;
  margin: auto;
  display: block;
  text-align: center;
}
.formalpic {
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 30%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}
.formalpic:hover {
  transform: scale(1.2);
}
.introtext {
  flex: 60%;
  text-align: justify;
  font-size: 120%;
}

@media screen and (max-width: 550px) {
  .intropic {
    width: 80%;
  }
  .profilepic, .formalpic {
    width: 50vw;
    height: fit-content;
  }
}

.skills {
  background-image: linear-gradient(to top, var(--second-bg-color) , white);
}
.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.skills-box .skills-content {
  flex: 1 1 350px;
  background: var(--secondary-text);
  padding: 40px;
  border-radius: 32px;
  border-width: 2px;
  text-align: center;
  transition: .5s ease;
}
.skills-box .skills-content:hover {
  border-color: var(--default-text);
  border-style: solid;
  transform: scale(1.05);
  .percent-bar p {
    color: var(--secondary-text);
    transform: translate(0);
  }
}
.percent-bar { 
  background-color: var(--bg-color); 
  width: 100%; 
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
}
.skill { 
  background-color: var(--title-text); 
  color: transparent; 
  padding: 1%; 
  text-align: right; 
  font-size: 20px; 
  border-radius: 50px;
}
.percent-bar p {
  padding-right: 10px;
  transform: translate(-20px);
  transition: .5s ease;
}

.services {
  background-image: linear-gradient(to top, var(--second-bg-color) , white);
}
.services-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.services-box .services-content {
  flex: 1 1 480px;
  background: var(--secondary-text);
  padding: 48px 32px 64px;
  border-radius: 32px;
  border-width: 2px;
  text-align: center;
  transition: .5s ease;
}
.services-box .services-content:hover {
  border-color: var(--default-text);
  border-style: solid;
  transform: scale(1.05);
}
.services-content i {
  font-size: 80px;
  color: var(--default-text);
}
.services-content h3 {
  font-size: 32px;
}
.services-content p {
  font-size: 20px;
  margin: 16px 0 48px;
}
.icons {
  width: 50px;
  height: 50px;
  margin: 5%;
}

.projects {
  background-image: linear-gradient(to top, var(--bg-color) 50%, white);
}
.projects h3 {
  text-align: center;
  margin: 20px;
}
.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.project-content {
  width: 300px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 20px var(--default-text);
  overflow: hidden;
  display: flex;
}
.project-content:hover img {
  transform: scale(1.2);
}
.project-box img {
  width: 100%;
  display: block;
  margin: auto;
  transition: 0.8s;
}
.project-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20% 10%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.8s ease;
}
.project-text:hover {
  opacity: 1;
}
.project-text h2 {
  color: var(--secondary-text);
  margin-bottom: 10px;
}
.project-text p {
  text-align: center;
  color: white;
}
.project-text {
  transform: translateY(1px);
  transition: 0.8s;  
}
.project-text:hover {
  transform: translateY(0);
}
@media screen and (max-width: 800px) {
  .project-box {
    flex-direction: column;
  }
}

.footer {
  text-align: center;
  background-color: var(--footer-bg);
}
.footer h6 {
  font-family: var(--open-sans);
  color: var(--bg-color);
  font-size: 30px;
  text-align: left;
  font-weight: 400;
  width: 100%;
  padding: 20px;
}
.footer-icons img {
  width: 24px;
  transition: .5s;
  text-decoration: none;
}
.footer-icons img:hover {
  width: 48px;
}
.more {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  background: var(--default-text);
  border-radius: 64px;
  color: var(--bg-color);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
}
.more:hover {
  box-shadow: 0 0 16px var(--bg-color);    
}
.footer p {
  color: var(--bg-color);
  font-size: 16px;
}